{% extends 'base.html.twig' %}
{% block title %}
    Nos Biens
    {% endblock %}
{% block body %}
    <div class="container">
        <h1 class="text-center underline">Les biens</h1>
    </div>
{% endblock %}