{% extends 'base.html.twig' %}

    {% block title %}
        Imo Express
    {% endblock %}
 {% block body %}
 
<div class="jumbotron text-center">
        <h1>Binevenu sur la homepage</h1>

</div>
 
 {% endblock %}
