.body{
    height: 100%;
    width: 100%;
    background: url('https://adybleoqen.cloudimg.io/crop/1440x800/webp/https://vaneauneuf.fr/static/images/home-background.jpg');
}
.card{
    background: red;
}